In [1]:
# imports
import datetime as dt
import pandas as pd

# Load Data

In [2]:
# load data
df_1 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2000_2009.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_1.shape)
df_1.head()

(266973, 5)

              DateTime     Open     High      Low    Close
0  2007-04-30 09:30:00  1494.07  1494.89  1494.07  1494.89
1  2007-04-30 09:31:00  1494.60  1494.60  1494.48  1494.48
2  2007-04-30 09:32:00  1494.49  1494.82  1494.49  1494.77
3  2007-04-30 09:33:00  1494.84  1495.32  1494.84  1495.29
4  2007-04-30 09:34:00  1495.36  1495.36  1494.98  1495.09

In [3]:
# load in data
df_2 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2010_2019.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_2.shape)
df_2.head()

(992768, 5)

              DateTime     Open     High      Low    Close
0  2010-01-04 09:30:00  1116.56  1122.15  1116.56  1122.15
1  2010-01-04 09:31:00  1122.65  1123.80  1122.65  1123.80
2  2010-01-04 09:32:00  1123.96  1124.23  1123.95  1124.23
3  2010-01-04 09:33:00  1124.27  1124.27  1124.05  1124.23
4  2010-01-04 09:34:00  1124.17  1124.29  1124.17  1124.26

In [4]:
# load in data
df_3 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2020_2020.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_3.shape)
df_3.head()

(90339, 5)

              DateTime     Open     High      Low    Close
0  2020-01-02 09:30:00  3244.67  3247.40  3244.67  3247.22
1  2020-01-02 09:31:00  3247.19  3247.22  3245.01  3245.22
2  2020-01-02 09:32:00  3245.07  3245.54  3244.16  3244.66
3  2020-01-02 09:33:00  3244.89  3247.69  3244.89  3247.61
4  2020-01-02 09:34:00  3247.38  3248.08  3246.92  3246.92

In [5]:
# concatenate dataframes
frames = [df_1, df_2, df_3]
df = pd.concat(frames)
df = df.copy()
print(df.shape)
df.tail()

(1350080, 5)

                  DateTime     Open     High      Low    Close
90334  2020-09-11 16:03:00  3340.95  3340.95  3340.94  3340.95
90335  2020-09-11 16:04:00  3340.95  3340.97  3340.95  3340.97
90336  2020-09-11 16:04:00  3340.95  3340.97  3340.95  3340.97
90337  2020-09-11 16:05:00  3340.97  3340.97  3340.97  3340.97
90338  2020-09-11 16:05:00  3340.97  3340.97  3340.97  3340.97

In [6]:
# looks like there are some duplicates with same date and timestamp
df = df.drop_duplicates()
print(df.shape)
df.tail()

(1329486, 5)

                  DateTime     Open     High      Low    Close
90329  2020-09-11 16:01:00  3340.90  3340.91  3340.90  3340.91
90331  2020-09-11 16:02:00  3340.91  3340.95  3340.91  3340.95
90333  2020-09-11 16:03:00  3340.95  3340.95  3340.94  3340.95
90335  2020-09-11 16:04:00  3340.95  3340.97  3340.95  3340.97
90337  2020-09-11 16:05:00  3340.97  3340.97  3340.97  3340.97

In [7]:
# split date and time into two separate columns
df[['Date','Time']] = df.DateTime.str.split(" ",expand=True)
df = df[['Date', 'Time', 'Open', 'High', 'Low', 'Close']]
df.head()

         Date      Time     Open     High      Low    Close
0  2007-04-30  09:30:00  1494.07  1494.89  1494.07  1494.89
1  2007-04-30  09:31:00  1494.60  1494.60  1494.48  1494.48
2  2007-04-30  09:32:00  1494.49  1494.82  1494.49  1494.77
3  2007-04-30  09:33:00  1494.84  1495.32  1494.84  1495.29
4  2007-04-30  09:34:00  1495.36  1495.36  1494.98  1495.09

In [8]:
# convert datetime to pandas
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
# get day of week to match dates
df['Weekday'] = df['Date'].dt.weekday_name
df = df[['Date', 'Weekday', 'Time', 'Open', 'High', 'Low', 'Close']]
df.head()

        Date Weekday      Time     Open     High      Low    Close
0 2007-04-30  Monday  09:30:00  1494.07  1494.89  1494.07  1494.89
1 2007-04-30  Monday  09:31:00  1494.60  1494.60  1494.48  1494.48
2 2007-04-30  Monday  09:32:00  1494.49  1494.82  1494.49  1494.77
3 2007-04-30  Monday  09:33:00  1494.84  1495.32  1494.84  1495.29
4 2007-04-30  Monday  09:34:00  1495.36  1495.36  1494.98  1495.09

In [10]:
# the Medallion model began to buy late in the day on a Friday if a clear up-trend existed
# and sell early Monday
# could look at buying at 2:30, 3:00, 3:30 on Friday
# and selling at 9:30, 10:00, 10:30, 11:00 on Monday

In [11]:
# selecting Monday mornings and Friday afternoons
friday_afternoon = '15:30:00'
monday_morning = '10:00:00'
weekend = df[((df['Weekday'] == 'Monday') & (df['Time'] == monday_morning)) | 
             ((df['Weekday'] == 'Friday') & (df['Time'] == friday_afternoon)) ]
# removing first row since it's a Monday
weekend = weekend[1:1289]
print(weekend.shape)
weekend.tail(50)

(1288, 7)

            Date Weekday      Time     Open     High      Low    Close
15887 2020-03-02  Monday  10:00:00  2964.76  2969.49  2961.30  2961.46
17803 2020-03-06  Friday  15:30:00  2920.99  2931.37  2916.97  2931.37
17870 2020-03-09  Monday  10:00:00  2796.79  2799.09  2794.36  2797.30
19789 2020-03-13  Friday  15:30:00  2586.08  2591.30  2583.23  2584.94
19859 2020-03-16  Monday  10:00:00  2452.03  2453.15  2446.88  2449.85
21784 2020-03-20  Friday  15:30:00  2343.64  2356.30  2343.64  2352.86
21851 2020-03-23  Monday  10:00:00  2282.07  2284.48  2276.87  2279.02
23765 2020-03-27  Friday  15:30:00  2607.02  2608.32  2602.82  2604.98
23831 2020-03-30  Monday  10:00:00  2562.20  2566.20  2562.20  2563.28
25745 2020-04-03  Friday  15:30:00  2480.89  2485.69  2480.67  2483.11
25811 2020-04-06  Monday  10:00:00  2603.81  2605.25  2603.15  2604.48
27395 2020-04-13  Monday  10:00:00  2748.75  2749.32  2747.09  2749.30
29309 2020-04-17  Friday  15:30:00  2852.59  2854.88  2852.59  2854.88
29375 2020-04-20  Monday  10:00:00  2839.72  2840.61  2838.59  2838.61
31289 2020-04-24  Friday  15:30:00  2835.17  2835.37  2834.17  2834.24
31355 2020-04-27  Monday  10:00:00  2861.33  2862.62  2860.82  2862.06
33269 2020-05-01  Friday  15:30:00  2833.14  2834.06  2832.55  2833.52
33335 2020-05-04  Monday  10:00:00  2812.02  2814.49  2811.39  2811.39
35249 2020-05-08  Friday  15:30:00  2923.60  2924.21  2923.02  2923.06
35315 2020-05-11  Monday  10:00:00  2909.11  2911.29  2908.61  2910.46
37230 2020-05-15  Friday  15:30:00  2857.13  2858.62  2857.04  2857.43
37296 2020-05-18  Monday  10:00:00  2935.04  2936.12  2934.11  2935.34
39210 2020-05-22  Friday  15:30:00  2946.54  2946.54  2945.69  2946.11
40794 2020-05-29  Friday  15:30:00  3036.82  3040.32  3036.58  3040.32
40860 2020-06-01  Monday  10:00:00  3042.15  3042.97  3040.33  3042.37
42774 2020-06-05  Friday  15:30:00  3200.06  3200.20  3198.61  3198.66
42840 2020-06-08  Monday  10:00:00  3207.35  3208.12  3204.95  3205.28
44754 2020-06-12  Friday  15:30:00  3014.79  3017.69  3012.73  3012.73
44820 2020-06-15  Monday  10:00:00  2997.27  2998.34  2993.37  2993.37
46734 2020-06-19  Friday  15:30:00  3109.81  3110.55  3108.56  3110.55
46804 2020-06-22  Monday  10:00:00  3096.24  3097.10  3095.67  3095.83
48718 2020-06-26  Friday  15:30:00  3013.74  3013.90  3012.08  3012.44
48785 2020-06-29  Monday  10:00:00  3015.62  3019.47  3015.62  3019.44
50370 2020-07-06  Monday  10:00:00  3177.01  3182.59  3177.01  3180.14
52284 2020-07-10  Friday  15:30:00  3181.80  3181.86  3180.39  3180.63
52350 2020-07-13  Monday  10:00:00  3204.77  3206.49  3204.77  3205.74
54264 2020-07-17  Friday  15:30:00  3230.67  3230.68  3229.32  3230.32
54330 2020-07-20  Monday  10:00:00  3219.86  3220.62  3218.15  3219.44
56244 2020-07-24  Friday  15:30:00  3208.97  3210.15  3208.43  3209.86
56310 2020-07-27  Monday  10:00:00  3233.57  3233.86  3232.95  3233.76
58224 2020-07-31  Friday  15:30:00  3253.02  3254.54  3252.76  3252.99
58350 2020-08-03  Monday  10:00:00  3290.48  3295.82  3290.48  3294.90
64092 2020-08-07  Friday  15:30:00  3338.87  3340.17  3338.79  3339.67
64290 2020-08-10  Monday  10:00:00  3357.21  3357.36  3356.44  3356.59
70032 2020-08-14  Friday  15:30:00  3365.77  3365.77  3364.52  3364.64
70230 2020-08-17  Monday  10:00:00  3382.98  3383.76  3382.88  3383.13
75972 2020-08-21  Friday  15:30:00  3398.08  3398.61  3397.57  3398.57
76170 2020-08-24  Monday  10:00:00  3421.49  3421.98  3419.54  3419.56
81912 2020-08-28  Friday  15:30:00  3506.05  3506.82  3505.68  3506.82
82113 2020-08-31  Monday  10:00:00  3502.22  3503.39  3502.08  3503.29

In [12]:
# problem - there are more Fridays than Mondays because of market holidays
# when there is a holiday I could put a Tuesday in place of a monday
# just thinking through this there is also Good Friday and holidays that can fall on 
# Friday like Christmas, New Years and the 4th of July
# possible solutions
# I could look only at Friday and Monday pairings with a 3 day difference
# manually go in and fix
weekend['Weekday'].value_counts()

Friday    659
Monday    629
Name: Weekday, dtype: int64

In [13]:
weekend['Date'].iloc[1] - weekend['Date'].iloc[0]

Timedelta('3 days 00:00:00')

In [14]:
# if two mondays or two fridays in a row drop the second row
# we want to get rid of the first friday row
# but the second monday row

# for mondays
weekend_ex_holidays_mon = weekend.groupby((weekend["Weekday"] != weekend["Weekday"].shift()).cumsum().values).first()
weekend_ex_holidays_mon = weekend_ex_holidays_mon[weekend_ex_holidays_mon['Weekday'] == 'Monday']
weekend_ex_holidays_mon

           Date Weekday      Time     Open     High      Low    Close
2    2007-05-07  Monday  10:00:00  1509.70  1509.70  1509.36  1509.54
4    2007-05-14  Monday  10:00:00  1509.37  1509.37  1508.57  1508.57
6    2007-05-21  Monday  10:00:00  1523.70  1523.97  1523.70  1523.97
8    2007-06-04  Monday  10:00:00  1534.87  1534.99  1534.62  1534.99
10   2007-06-11  Monday  10:00:00  1508.79  1508.84  1508.16  1508.16
...         ...     ...       ...      ...      ...      ...      ...
1178 2020-08-03  Monday  10:00:00  3290.48  3295.82  3290.48  3294.90
1180 2020-08-10  Monday  10:00:00  3357.21  3357.36  3356.44  3356.59
1182 2020-08-17  Monday  10:00:00  3382.98  3383.76  3382.88  3383.13
1184 2020-08-24  Monday  10:00:00  3421.49  3421.98  3419.54  3419.56
1186 2020-08-31  Monday  10:00:00  3502.22  3503.39  3502.08  3503.29

[593 rows x 7 columns]

In [15]:
# getting correct Fridays
weekend_ex_holidays_fri = weekend.groupby((weekend["Weekday"] != weekend["Weekday"].shift()).cumsum().values).last()
weekend_ex_holidays_fri = weekend_ex_holidays_fri[weekend_ex_holidays_fri['Weekday'] == 'Friday']
weekend_ex_holidays_fri

           Date Weekday      Time     Open     High      Low    Close
1    2007-05-04  Friday  15:30:00  1505.96  1506.09  1505.96  1506.09
3    2007-05-11  Friday  15:30:00  1503.33  1503.87  1503.33  1503.87
5    2007-05-18  Friday  15:30:00  1520.21  1520.21  1520.13  1520.13
7    2007-05-25  Friday  15:30:00  1514.68  1515.08  1514.68  1515.08
9    2007-06-08  Friday  15:30:00  1502.63  1502.63  1502.52  1502.62
...         ...     ...       ...      ...      ...      ...      ...
1177 2020-07-31  Friday  15:30:00  3253.02  3254.54  3252.76  3252.99
1179 2020-08-07  Friday  15:30:00  3338.87  3340.17  3338.79  3339.67
1181 2020-08-14  Friday  15:30:00  3365.77  3365.77  3364.52  3364.64
1183 2020-08-21  Friday  15:30:00  3398.08  3398.61  3397.57  3398.57
1185 2020-08-28  Friday  15:30:00  3506.05  3506.82  3505.68  3506.82

[593 rows x 7 columns]

In [16]:
# TODO - concatenate monday and friday dataframes
frames = [weekend_ex_holidays_mon, weekend_ex_holidays_fri]
weekend_ex_holidays = pd.concat(frames)
print(weekend_ex_holidays.shape)
weekend_ex_holidays = weekend_ex_holidays.sort_values(by='Date')
weekend_ex_holidays.head(50)

(1186, 7)

         Date Weekday      Time     Open     High      Low    Close
1  2007-05-04  Friday  15:30:00  1505.96  1506.09  1505.96  1506.09
2  2007-05-07  Monday  10:00:00  1509.70  1509.70  1509.36  1509.54
3  2007-05-11  Friday  15:30:00  1503.33  1503.87  1503.33  1503.87
4  2007-05-14  Monday  10:00:00  1509.37  1509.37  1508.57  1508.57
5  2007-05-18  Friday  15:30:00  1520.21  1520.21  1520.13  1520.13
6  2007-05-21  Monday  10:00:00  1523.70  1523.97  1523.70  1523.97
7  2007-05-25  Friday  15:30:00  1514.68  1515.08  1514.68  1515.08
8  2007-06-04  Monday  10:00:00  1534.87  1534.99  1534.62  1534.99
9  2007-06-08  Friday  15:30:00  1502.63  1502.63  1502.52  1502.62
10 2007-06-11  Monday  10:00:00  1508.79  1508.84  1508.16  1508.16
11 2007-06-15  Friday  15:30:00  1533.97  1534.22  1533.97  1534.22
12 2007-06-18  Monday  10:00:00  1534.13  1534.13  1533.25  1533.25
13 2007-06-22  Friday  15:30:00  1505.11  1505.18  1504.77  1505.06
14 2007-06-25  Monday  10:00:00  1501.79  1502.93  1501.79  1502.93
15 2007-06-29  Friday  15:30:00  1493.95  1494.39  1493.61  1494.39
16 2007-07-02  Monday  10:00:00  1513.55  1515.17  1513.53  1515.17
17 2007-07-06  Friday  15:30:00  1532.40  1532.40  1532.28  1532.40
18 2007-07-09  Monday  10:00:00  1531.73  1532.21  1531.73  1532.21
19 2007-07-13  Friday  15:30:00  1554.77  1554.94  1554.73  1554.73
20 2007-07-16  Monday  10:00:00  1551.04  1551.12  1550.70  1550.71
21 2007-07-20  Friday  15:30:00  1537.91  1538.07  1537.05  1537.05
22 2007-07-23  Monday  10:00:00  1541.35  1541.35  1541.02  1541.02
23 2007-07-27  Friday  15:30:00  1475.34  1475.94  1475.13  1475.47
24 2007-07-30  Monday  10:00:00  1460.94  1462.02  1460.94  1462.02
25 2007-08-03  Friday  15:30:00  1443.99  1444.46  1443.81  1443.81
26 2007-08-06  Monday  10:00:00  1440.31  1440.31  1438.98  1438.98
27 2007-08-10  Friday  15:30:00  1455.20  1455.20  1453.26  1453.26
28 2007-08-13  Monday  10:00:00  1460.41  1460.97  1460.41  1460.87
29 2007-08-17  Friday  15:30:00  1442.42  1444.36  1442.42  1444.26
30 2007-08-20  Monday  10:00:00  1444.65  1446.18  1444.65  1446.06
31 2007-08-24  Friday  15:30:00  1474.87  1475.77  1474.87  1475.70
32 2007-08-27  Monday  10:00:00  1474.21  1475.91  1473.58  1473.58
33 2007-09-07  Friday  15:30:00  1450.68  1451.23  1450.68  1451.17
34 2007-09-10  Monday  10:00:00  1455.44  1455.83  1455.44  1455.63
35 2007-09-14  Friday  15:30:00  1483.15  1483.51  1482.90  1482.90
36 2007-09-17  Monday  10:00:00  1479.13  1479.61  1479.13  1479.61
37 2007-09-21  Friday  15:30:00  1527.64  1527.64  1527.49  1527.49
38 2007-09-24  Monday  10:00:00  1522.15  1522.15  1521.86  1522.15
39 2007-09-28  Friday  15:30:00  1524.45  1524.53  1524.42  1524.49
40 2007-10-01  Monday  10:00:00  1533.50  1534.31  1533.50  1533.93
41 2007-10-05  Friday  15:30:00  1559.16  1559.47  1559.01  1559.01
42 2007-10-08  Monday  10:00:00  1554.16  1554.17  1554.13  1554.13
43 2007-10-12  Friday  15:30:00  1557.21  1558.02  1557.21  1558.02
44 2007-10-15  Monday  10:00:00  1558.59  1558.79  1558.51  1558.79
45 2007-10-19  Friday  15:30:00  1505.21  1505.21  1503.82  1503.82
46 2007-10-22  Monday  10:00:00  1497.61  1498.21  1497.18  1498.21
47 2007-10-26  Friday  15:30:00  1531.07  1532.69  1531.07  1532.69
48 2007-10-29  Monday  10:00:00  1542.38  1542.38  1541.46  1541.46
49 2007-11-02  Friday  15:30:00  1502.49  1502.58  1502.45  1502.58
50 2007-11-05  Monday  10:00:00  1501.97  1502.64  1501.91  1502.64

In [17]:
# confirm even number of Mondays and Fridays
weekend_ex_holidays['Weekday'].value_counts()

Friday    593
Monday    593
Name: Weekday, dtype: int64

In [18]:
# calculate percentage change
weekend_ex_holidays['Previous_Day_Price'] = weekend_ex_holidays['Open'].shift(1)
weekend_ex_holidays['Percentage_Change'] = ((weekend_ex_holidays['Open'] / 
                                             weekend_ex_holidays['Previous_Day_Price']) - 1) * 100
weekend_ex_holidays

,Date,Weekday,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change
1,2007-05-04,Friday,15:30:00,1505.96,1506.09,1505.96,1506.09,NaN,NaN
2,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347
3,2007-05-11,Friday,15:30:00,1503.33,1503.87,1503.33,1503.87,1509.70,-0.421938
4,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775
5,2007-05-18,Friday,15:30:00,1520.21,1520.21,1520.13,1520.13,1509.37,0.718180
...,...,...,...,...,...,...,...,...,...
1182,2020-08-17,Monday,10:00:00,3382.98,3383.76,3382.88,3383.13,3365.77,0.511324
1183,2020-08-21,Friday,15:30:00,3398.08,3398.61,3397.57,3398.57,3382.98,0.446352
1184,2020-08-24,Monday,10:00:00,3421.49,3421.98,3419.54,3419.56,3398.08,0.688918
1185,2020-08-28,Friday,15:30:00,3506.05,3506.82,3505.68,3506.82,3421.49,2.471438
1186,2020-08-31,Monday,10:00:00,3502.22,3503.39,3502.08,3503.29,3506.05,-0.109240

In [19]:
# add price direction feature
weekend_ex_holidays['Price_Direction'] = weekend_ex_holidays['Percentage_Change'].apply(
                                         lambda x: 1 if x > 0 else 0)
weekend_ex_holidays

,Date,Weekday,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction
1,2007-05-04,Friday,15:30:00,1505.96,1506.09,1505.96,1506.09,NaN,NaN,0
2,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1
3,2007-05-11,Friday,15:30:00,1503.33,1503.87,1503.33,1503.87,1509.70,-0.421938,0
4,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1
5,2007-05-18,Friday,15:30:00,1520.21,1520.21,1520.13,1520.13,1509.37,0.718180,1
...,...,...,...,...,...,...,...,...,...,...
1182,2020-08-17,Monday,10:00:00,3382.98,3383.76,3382.88,3383.13,3365.77,0.511324,1
1183,2020-08-21,Friday,15:30:00,3398.08,3398.61,3397.57,3398.57,3382.98,0.446352,1
1184,2020-08-24,Monday,10:00:00,3421.49,3421.98,3419.54,3419.56,3398.08,0.688918,1
1185,2020-08-28,Friday,15:30:00,3506.05,3506.82,3505.68,3506.82,3421.49,2.471438,1
1186,2020-08-31,Monday,10:00:00,3502.22,3503.39,3502.08,3503.29,3506.05,-0.109240,0

In [20]:
# TODO - add feature of whether the market is up or down on Friday

In [21]:
# determining if Friday direction
friday_direction = df[((df['Weekday'] == 'Friday') & (df['Time'] == '09:30:00')) | 
                      ((df['Weekday'] == 'Friday') & (df['Time'] == friday_afternoon)) ]
friday_direction.head()

           Date Weekday      Time     Open     High      Low    Close
1592 2007-05-04  Friday  09:30:00  1503.46  1505.05  1503.46  1505.05
1952 2007-05-04  Friday  15:30:00  1505.96  1506.09  1505.96  1506.09
3584 2007-05-11  Friday  09:30:00  1491.75  1493.50  1491.75  1493.50
3944 2007-05-11  Friday  15:30:00  1503.33  1503.87  1503.33  1503.87
5574 2007-05-18  Friday  09:30:00  1513.80  1515.45  1513.80  1515.45

In [22]:
# calculate percentage change
friday_direction['Friday_9:30_Price'] = friday_direction['Open'].shift(1)
friday_direction['Percentage_Change_Friday'] = ((friday_direction['Open'] /
                                                 friday_direction['Friday_9:30_Price']) - 1) * 100
friday_direction

/Users/josephbell/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/josephbell/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Date,Weekday,Time,Open,High,Low,Close,Friday_9:30_Price,Percentage_Change_Friday
1592,2007-05-04,Friday,09:30:00,1503.46,1505.05,1503.46,1505.05,NaN,NaN
1952,2007-05-04,Friday,15:30:00,1505.96,1506.09,1505.96,1506.09,1503.46,0.166283
3584,2007-05-11,Friday,09:30:00,1491.75,1493.50,1491.75,1493.50,1505.96,-0.943584
3944,2007-05-11,Friday,15:30:00,1503.33,1503.87,1503.33,1503.87,1491.75,0.776269
5574,2007-05-18,Friday,09:30:00,1513.80,1515.45,1513.80,1515.45,1503.33,0.696454
...,...,...,...,...,...,...,...,...,...
81912,2020-08-28,Friday,15:30:00,3506.05,3506.82,3505.68,3506.82,3494.69,0.325065
86379,2020-09-04,Friday,09:30:00,3453.60,3463.58,3453.60,3463.27,3506.05,-1.495986
87099,2020-09-04,Friday,15:30:00,3451.01,3451.01,3446.95,3447.91,3453.60,-0.074994
89547,2020-09-11,Friday,09:30:00,3352.70,3361.10,3352.70,3361.10,3451.01,-2.848731
90267,2020-09-11,Friday,15:30:00,3347.13,3350.44,3347.13,3349.59,3352.70,-0.166135

In [23]:
# add price direction feature
friday_direction['Price_Direction_Friday'] = friday_direction['Percentage_Change_Friday'].apply(
    lambda x: 1 if x > 0 else 0)
# look at Mondays only to get return and direction by holding over the weekend
friday_direction = friday_direction[(friday_direction['Weekday'] == 'Friday') &
                                    (friday_direction['Time'] == friday_afternoon)]
friday_direction = friday_direction[['Date', 'Weekday', 'Friday_9:30_Price','Percentage_Change_Friday', 
                                     'Price_Direction_Friday']]
friday_direction.head()

/Users/josephbell/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Date,Weekday,Friday_9:30_Price,Percentage_Change_Friday,Price_Direction_Friday
1952,2007-05-04,Friday,1503.46,0.166283,1
3944,2007-05-11,Friday,1491.75,0.776269,1
5933,2007-05-18,Friday,1513.80,0.423438,1
7924,2007-05-25,Friday,1508.66,0.399030,1
11105,2007-06-08,Friday,1490.74,0.797590,1

In [24]:
# join Friday returns and directions with weekend returns and directions
weekend_return = pd.merge(weekend_ex_holidays, friday_direction, how='left', on='Date')
weekend_return.head()

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Percentage_Change_Friday,Price_Direction_Friday
0,2007-05-04,Friday,15:30:00,1505.96,1506.09,1505.96,1506.09,NaN,NaN,0,Friday,1503.46,0.166283,1.0
1,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1,NaN,NaN,NaN,NaN
2,2007-05-11,Friday,15:30:00,1503.33,1503.87,1503.33,1503.87,1509.70,-0.421938,0,Friday,1491.75,0.776269,1.0
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,NaN,NaN,NaN,NaN
4,2007-05-18,Friday,15:30:00,1520.21,1520.21,1520.13,1520.13,1509.37,0.718180,1,Friday,1513.80,0.423438,1.0

In [25]:
# add Friday afternoon price
weekend_return['Friday_Afternoon_Price'] = weekend_return['Open']
weekend_return = weekend_return[['Date', 'Weekday_x', 'Time', 'Open', 'High', 'Low', 'Close',
                                 'Previous_Day_Price', 'Percentage_Change', 'Price_Direction',
                                 'Weekday_y', 'Friday_9:30_Price', 'Friday_Afternoon_Price',
                                 'Percentage_Change_Friday', 'Price_Direction_Friday']]
weekend_return.head()

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Friday_Afternoon_Price,Percentage_Change_Friday,Price_Direction_Friday
0,2007-05-04,Friday,15:30:00,1505.96,1506.09,1505.96,1506.09,NaN,NaN,0,Friday,1503.46,1505.96,0.166283,1.0
1,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1,NaN,NaN,1509.70,NaN,NaN
2,2007-05-11,Friday,15:30:00,1503.33,1503.87,1503.33,1503.87,1509.70,-0.421938,0,Friday,1491.75,1503.33,0.776269,1.0
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,NaN,NaN,1509.37,NaN,NaN
4,2007-05-18,Friday,15:30:00,1520.21,1520.21,1520.13,1520.13,1509.37,0.718180,1,Friday,1513.80,1520.21,0.423438,1.0

In [26]:
# shift Friday data down 1 day to Monday
weekend_return['Weekday_y'] = weekend_return['Weekday_y'].shift(1)
weekend_return['Friday_9:30_Price'] = weekend_return['Friday_9:30_Price'].shift(1)
weekend_return['Friday_Afternoon_Price'] = weekend_return['Friday_Afternoon_Price'].shift(1)
weekend_return['Percentage_Change_Friday'] = weekend_return['Percentage_Change_Friday'].shift(1)
weekend_return['Price_Direction_Friday'] = weekend_return['Price_Direction_Friday'].shift(1)
weekend_return.head()

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Friday_Afternoon_Price,Percentage_Change_Friday,Price_Direction_Friday
0,2007-05-04,Friday,15:30:00,1505.96,1506.09,1505.96,1506.09,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1,Friday,1503.46,1505.96,0.166283,1.0
2,2007-05-11,Friday,15:30:00,1503.33,1503.87,1503.33,1503.87,1509.70,-0.421938,0,NaN,NaN,1509.70,NaN,NaN
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,Friday,1491.75,1503.33,0.776269,1.0
4,2007-05-18,Friday,15:30:00,1520.21,1520.21,1520.13,1520.13,1509.37,0.718180,1,NaN,NaN,1509.37,NaN,NaN

In [27]:
# look at Mondays only to get return and direction by holding over the weekend
weekend_return = weekend_return[weekend_return['Weekday_x'] == 'Monday']
weekend_return.head()

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Friday_Afternoon_Price,Percentage_Change_Friday,Price_Direction_Friday
1,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1,Friday,1503.46,1505.96,0.166283,1.0
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,Friday,1491.75,1503.33,0.776269,1.0
5,2007-05-21,Monday,10:00:00,1523.70,1523.97,1523.70,1523.97,1520.21,0.229574,1,Friday,1513.80,1520.21,0.423438,1.0
7,2007-06-04,Monday,10:00:00,1534.87,1534.99,1534.62,1534.99,1514.68,1.332955,1,Friday,1508.66,1514.68,0.399030,1.0
9,2007-06-11,Monday,10:00:00,1508.79,1508.84,1508.16,1508.16,1502.63,0.409948,1,Friday,1490.74,1502.63,0.797590,1.0

In [28]:
# baseline percentage of up and down directional moves over the weekend
weekend_return['Price_Direction'].value_counts(normalize=True)

1    0.554806
0    0.445194
Name: Price_Direction, dtype: float64

In [29]:
# baseline average return
weekend_return['Percentage_Change'].mean()

0.04082120538415499

In [30]:
# create feature of market direction on Friday and Weekend Direction
def label_direction(row):
    if row['Price_Direction'] == 1 and row['Price_Direction_Friday'] == 1:
        return 'Friday Up, Weekend Up'
    if row['Price_Direction'] == 0 and row['Price_Direction_Friday'] == 1:
        return 'Friday Down, Weekend Up'
    if row['Price_Direction'] == 1 and row['Price_Direction_Friday'] == 0:
        return 'Friday Up, Weekend Down'
    if row['Price_Direction'] == 0 and row['Price_Direction_Friday'] == 0:
        return 'Friday Down, Weekend Down'

In [31]:
weekend_return['Friday_v_Weekend'] = weekend_return.apply(lambda row: label_direction(row), axis=1)
weekend_return.head(10)

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Friday_Afternoon_Price,Percentage_Change_Friday,Price_Direction_Friday,Friday_v_Weekend
1,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1,Friday,1503.46,1505.96,0.166283,1.0,"Friday Up, Weekend Up"
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,Friday,1491.75,1503.33,0.776269,1.0,"Friday Up, Weekend Up"
5,2007-05-21,Monday,10:00:00,1523.70,1523.97,1523.70,1523.97,1520.21,0.229574,1,Friday,1513.80,1520.21,0.423438,1.0,"Friday Up, Weekend Up"
7,2007-06-04,Monday,10:00:00,1534.87,1534.99,1534.62,1534.99,1514.68,1.332955,1,Friday,1508.66,1514.68,0.399030,1.0,"Friday Up, Weekend Up"
9,2007-06-11,Monday,10:00:00,1508.79,1508.84,1508.16,1508.16,1502.63,0.409948,1,Friday,1490.74,1502.63,0.797590,1.0,"Friday Up, Weekend Up"
11,2007-06-18,Monday,10:00:00,1534.13,1534.13,1533.25,1533.25,1533.97,0.010430,1,Friday,1525.46,1533.97,0.557865,1.0,"Friday Up, Weekend Up"
13,2007-06-25,Monday,10:00:00,1501.79,1502.93,1501.79,1502.93,1505.11,-0.220582,0,Friday,1522.19,1505.11,-1.122068,0.0,"Friday Down, Weekend Down"
15,2007-07-02,Monday,10:00:00,1513.55,1515.17,1513.53,1515.17,1493.95,1.311958,1,Friday,1505.70,1493.95,-0.780368,0.0,"Friday Up, Weekend Down"
17,2007-07-09,Monday,10:00:00,1531.73,1532.21,1531.73,1532.21,1532.40,-0.043722,0,Friday,1524.77,1532.40,0.500403,1.0,"Friday Down, Weekend Up"
19,2007-07-16,Monday,10:00:00,1551.04,1551.12,1550.70,1550.71,1554.77,-0.239907,0,Friday,1546.61,1554.77,0.527606,1.0,"Friday Down, Weekend Up"

In [32]:
weekend_return['Friday_v_Weekend'].value_counts()

Friday Up, Weekend Up        190
Friday Up, Weekend Down      139
Friday Down, Weekend Up      135
Friday Down, Weekend Down    129
Name: Friday_v_Weekend, dtype: int64

In [44]:
190 / (190 + 139)

0.5775075987841946

In [34]:
# TODO - look at greater than certain percentage return on Fridays
# if percentage_change_friday is > .50% or .75% or 1.00%
# what is the direction of weekend return
# and what is the average weekend return

In [35]:
percent_change = .75
def label_friday_up_alot(row):
    if row['Percentage_Change_Friday'] >= percent_change and row['Price_Direction'] == 1:
        return f'Friday Up > {percent_change}%, Weekend Up'
    if row['Percentage_Change_Friday'] >= percent_change and row['Price_Direction'] == 0:
        return f'Friday Up > {percent_change}%, Weekend Down'
    if row['Percentage_Change_Friday'] < percent_change and row['Price_Direction'] == 1:
        return f'Friday Not Up > {percent_change}%, Weekend Up'
    if row['Percentage_Change_Friday'] < percent_change and row['Price_Direction'] == 0:
        return f'Friday Not up > {percent_change}%, Weekend Down'

In [36]:
weekend_return['Friday_up_alot_v_Weekend'] = weekend_return.apply(lambda row: label_friday_up_alot(row), axis=1)
weekend_return.head(10)

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Friday_Afternoon_Price,Percentage_Change_Friday,Price_Direction_Friday,Friday_v_Weekend,Friday_up_alot_v_Weekend
1,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1,Friday,1503.46,1505.96,0.166283,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up"
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,Friday,1491.75,1503.33,0.776269,1.0,"Friday Up, Weekend Up","Friday Up > 0.75%, Weekend Up"
5,2007-05-21,Monday,10:00:00,1523.70,1523.97,1523.70,1523.97,1520.21,0.229574,1,Friday,1513.80,1520.21,0.423438,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up"
7,2007-06-04,Monday,10:00:00,1534.87,1534.99,1534.62,1534.99,1514.68,1.332955,1,Friday,1508.66,1514.68,0.399030,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up"
9,2007-06-11,Monday,10:00:00,1508.79,1508.84,1508.16,1508.16,1502.63,0.409948,1,Friday,1490.74,1502.63,0.797590,1.0,"Friday Up, Weekend Up","Friday Up > 0.75%, Weekend Up"
11,2007-06-18,Monday,10:00:00,1534.13,1534.13,1533.25,1533.25,1533.97,0.010430,1,Friday,1525.46,1533.97,0.557865,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up"
13,2007-06-25,Monday,10:00:00,1501.79,1502.93,1501.79,1502.93,1505.11,-0.220582,0,Friday,1522.19,1505.11,-1.122068,0.0,"Friday Down, Weekend Down","Friday Not up > 0.75%, Weekend Down"
15,2007-07-02,Monday,10:00:00,1513.55,1515.17,1513.53,1515.17,1493.95,1.311958,1,Friday,1505.70,1493.95,-0.780368,0.0,"Friday Up, Weekend Down","Friday Not Up > 0.75%, Weekend Up"
17,2007-07-09,Monday,10:00:00,1531.73,1532.21,1531.73,1532.21,1532.40,-0.043722,0,Friday,1524.77,1532.40,0.500403,1.0,"Friday Down, Weekend Up","Friday Not up > 0.75%, Weekend Down"
19,2007-07-16,Monday,10:00:00,1551.04,1551.12,1550.70,1550.71,1554.77,-0.239907,0,Friday,1546.61,1554.77,0.527606,1.0,"Friday Down, Weekend Up","Friday Not up > 0.75%, Weekend Down"

In [37]:
weekend_return['Friday_up_alot_v_Weekend'].value_counts()

Friday Not Up > 0.75%, Weekend Up      281
Friday Not up > 0.75%, Weekend Down    229
Friday Up > 0.75%, Weekend Up           48
Friday Up > 0.75%, Weekend Down         35
Name: Friday_up_alot_v_Weekend, dtype: int64

In [45]:
48 / (48 + 35)

0.5783132530120482

In [56]:
percent_change_weekend = .10
def label_row(row):
    if row['Percentage_Change_Friday'] >= percent_change and row['Percentage_Change'] >= percent_change_weekend:
        return f'Friday Up >= {percent_change}%, Weekend Up >= {percent_change_weekend}%'
    else:
        return ''

In [57]:
weekend_return['Friday_and_Weekend_up_alot'] = weekend_return.apply(lambda row: label_row(row), axis=1)
weekend_return.head(10)

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Friday_Afternoon_Price,Percentage_Change_Friday,Price_Direction_Friday,Friday_v_Weekend,Friday_up_alot_v_Weekend,Friday_and_Weekend_up_alot
1,2007-05-07,Monday,10:00:00,1509.70,1509.70,1509.36,1509.54,1505.96,0.248347,1,Friday,1503.46,1505.96,0.166283,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up",
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,Friday,1491.75,1503.33,0.776269,1.0,"Friday Up, Weekend Up","Friday Up > 0.75%, Weekend Up","Friday Up >= 0.75%, Weekend Up >= 0.1%"
5,2007-05-21,Monday,10:00:00,1523.70,1523.97,1523.70,1523.97,1520.21,0.229574,1,Friday,1513.80,1520.21,0.423438,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up",
7,2007-06-04,Monday,10:00:00,1534.87,1534.99,1534.62,1534.99,1514.68,1.332955,1,Friday,1508.66,1514.68,0.399030,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up",
9,2007-06-11,Monday,10:00:00,1508.79,1508.84,1508.16,1508.16,1502.63,0.409948,1,Friday,1490.74,1502.63,0.797590,1.0,"Friday Up, Weekend Up","Friday Up > 0.75%, Weekend Up","Friday Up >= 0.75%, Weekend Up >= 0.1%"
11,2007-06-18,Monday,10:00:00,1534.13,1534.13,1533.25,1533.25,1533.97,0.010430,1,Friday,1525.46,1533.97,0.557865,1.0,"Friday Up, Weekend Up","Friday Not Up > 0.75%, Weekend Up",
13,2007-06-25,Monday,10:00:00,1501.79,1502.93,1501.79,1502.93,1505.11,-0.220582,0,Friday,1522.19,1505.11,-1.122068,0.0,"Friday Down, Weekend Down","Friday Not up > 0.75%, Weekend Down",
15,2007-07-02,Monday,10:00:00,1513.55,1515.17,1513.53,1515.17,1493.95,1.311958,1,Friday,1505.70,1493.95,-0.780368,0.0,"Friday Up, Weekend Down","Friday Not Up > 0.75%, Weekend Up",
17,2007-07-09,Monday,10:00:00,1531.73,1532.21,1531.73,1532.21,1532.40,-0.043722,0,Friday,1524.77,1532.40,0.500403,1.0,"Friday Down, Weekend Up","Friday Not up > 0.75%, Weekend Down",
19,2007-07-16,Monday,10:00:00,1551.04,1551.12,1550.70,1550.71,1554.77,-0.239907,0,Friday,1546.61,1554.77,0.527606,1.0,"Friday Down, Weekend Up","Friday Not up > 0.75%, Weekend Down",

In [58]:
weekend_return['Friday_and_Weekend_up_alot'].value_counts()

                                          552
Friday Up >= 0.75%, Weekend Up >= 0.1%     41
Name: Friday_and_Weekend_up_alot, dtype: int64

In [59]:
friday_up_alot = weekend_return[weekend_return['Percentage_Change_Friday'] > .75]
friday_up_alot.head()

,Date,Weekday_x,Time,Open,High,Low,Close,Previous_Day_Price,Percentage_Change,Price_Direction,Weekday_y,Friday_9:30_Price,Friday_Afternoon_Price,Percentage_Change_Friday,Price_Direction_Friday,Friday_v_Weekend,Friday_up_alot_v_Weekend,Friday_and_Weekend_up_alot
3,2007-05-14,Monday,10:00:00,1509.37,1509.37,1508.57,1508.57,1503.33,0.401775,1,Friday,1491.75,1503.33,0.776269,1.0,"Friday Up, Weekend Up","Friday Up > 0.75%, Weekend Up","Friday Up >= 0.75%, Weekend Up >= 0.1%"
9,2007-06-11,Monday,10:00:00,1508.79,1508.84,1508.16,1508.16,1502.63,0.409948,1,Friday,1490.74,1502.63,0.797590,1.0,"Friday Up, Weekend Up","Friday Up > 0.75%, Weekend Up","Friday Up >= 0.75%, Weekend Up >= 0.1%"
29,2007-08-20,Monday,10:00:00,1444.65,1446.18,1444.65,1446.06,1442.42,0.154601,1,Friday,1415.51,1442.42,1.901082,1.0,"Friday Up, Weekend Up","Friday Up > 0.75%, Weekend Up","Friday Up >= 0.75%, Weekend Up >= 0.1%"
31,2007-08-27,Monday,10:00:00,1474.21,1475.91,1473.58,1473.58,1474.87,-0.044750,0,Friday,1462.34,1474.87,0.856846,1.0,"Friday Down, Weekend Up","Friday Up > 0.75%, Weekend Down",
41,2007-10-08,Monday,10:00:00,1554.16,1554.17,1554.13,1554.13,1559.16,-0.320685,0,Friday,1543.84,1559.16,0.992331,1.0,"Friday Down, Weekend Up","Friday Up > 0.75%, Weekend Down",

In [55]:
friday_up_alot['Percentage_Change'].mean()

0.13292449835064052