In [1]:
# imports
import datetime as dt
import pandas as pd

# Load Data

In [2]:
# load data
df_1 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2000_2009.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_1.shape)
df_1.head()

(266973, 5)

              DateTime     Open     High      Low    Close
0  2007-04-30 09:30:00  1494.07  1494.89  1494.07  1494.89
1  2007-04-30 09:31:00  1494.60  1494.60  1494.48  1494.48
2  2007-04-30 09:32:00  1494.49  1494.82  1494.49  1494.77
3  2007-04-30 09:33:00  1494.84  1495.32  1494.84  1495.29
4  2007-04-30 09:34:00  1495.36  1495.36  1494.98  1495.09

In [3]:
# load in data
df_2 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2010_2019.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_2.shape)
df_2.head()

(992768, 5)

              DateTime     Open     High      Low    Close
0  2010-01-04 09:30:00  1116.56  1122.15  1116.56  1122.15
1  2010-01-04 09:31:00  1122.65  1123.80  1122.65  1123.80
2  2010-01-04 09:32:00  1123.96  1124.23  1123.95  1124.23
3  2010-01-04 09:33:00  1124.27  1124.27  1124.05  1124.23
4  2010-01-04 09:34:00  1124.17  1124.29  1124.17  1124.26

In [4]:
# load in data
df_3 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2020_2020.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_3.shape)
df_3.head()

(90339, 5)

              DateTime     Open     High      Low    Close
0  2020-01-02 09:30:00  3244.67  3247.40  3244.67  3247.22
1  2020-01-02 09:31:00  3247.19  3247.22  3245.01  3245.22
2  2020-01-02 09:32:00  3245.07  3245.54  3244.16  3244.66
3  2020-01-02 09:33:00  3244.89  3247.69  3244.89  3247.61
4  2020-01-02 09:34:00  3247.38  3248.08  3246.92  3246.92

In [5]:
# concatenate dataframes
frames = [df_1, df_2, df_3]
df = pd.concat(frames)
print(df.shape)
df.tail()

(1350080, 5)

                  DateTime     Open     High      Low    Close
90334  2020-09-11 16:03:00  3340.95  3340.95  3340.94  3340.95
90335  2020-09-11 16:04:00  3340.95  3340.97  3340.95  3340.97
90336  2020-09-11 16:04:00  3340.95  3340.97  3340.95  3340.97
90337  2020-09-11 16:05:00  3340.97  3340.97  3340.97  3340.97
90338  2020-09-11 16:05:00  3340.97  3340.97  3340.97  3340.97

In [6]:
# looks like there are some duplicates with same date and timestamp
df = df.drop_duplicates()
print(df.shape)
df.tail()

(1329486, 5)

                  DateTime     Open     High      Low    Close
90329  2020-09-11 16:01:00  3340.90  3340.91  3340.90  3340.91
90331  2020-09-11 16:02:00  3340.91  3340.95  3340.91  3340.95
90333  2020-09-11 16:03:00  3340.95  3340.95  3340.94  3340.95
90335  2020-09-11 16:04:00  3340.95  3340.97  3340.95  3340.97
90337  2020-09-11 16:05:00  3340.97  3340.97  3340.97  3340.97

In [7]:
# split date and time into two separate columns
df[['Date','Time']] = df.DateTime.str.split(" ",expand=True)
df = df[['Date', 'Time', 'Open', 'High', 'Low', 'Close']]
df.head()

         Date      Time     Open     High      Low    Close
0  2007-04-30  09:30:00  1494.07  1494.89  1494.07  1494.89
1  2007-04-30  09:31:00  1494.60  1494.60  1494.48  1494.48
2  2007-04-30  09:32:00  1494.49  1494.82  1494.49  1494.77
3  2007-04-30  09:33:00  1494.84  1495.32  1494.84  1495.29
4  2007-04-30  09:34:00  1495.36  1495.36  1494.98  1495.09

In [8]:
# convert datetime to pandas
df['Date'] = pd.to_datetime(df['Date'])

In [15]:
# get day of week to match dates
df['Weekday'] = df['Date'].dt.weekday_name
df = df[['Date', 'Weekday', 'Time', 'Open', 'High', 'Low', 'Close']]
df.head()

        Date Weekday      Time     Open     High      Low    Close
0 2007-04-30  Monday  09:30:00  1494.07  1494.89  1494.07  1494.89
1 2007-04-30  Monday  09:31:00  1494.60  1494.60  1494.48  1494.48
2 2007-04-30  Monday  09:32:00  1494.49  1494.82  1494.49  1494.77
3 2007-04-30  Monday  09:33:00  1494.84  1495.32  1494.84  1495.29
4 2007-04-30  Monday  09:34:00  1495.36  1495.36  1494.98  1495.09

In [18]:
# the Medallion model began to buy late in the day on a Friday if a clear up-trend existed
# and sell early Monday
# could look at buying at 2:30, 3:00, 3:30 on Friday
# and selling at 9:30, 10:00, 10:30, 11:00 on Monday

In [59]:
# selecting Monday mornings and Friday afternoons
weekend = df[((df['Weekday'] == 'Monday') & (df['Time'] == '10:00:00')) | 
             ((df['Weekday'] == 'Friday') & (df['Time'] == '15:00:00'))]
# removing first row since it's a Monday
weekend = weekend[1:1289]
print(weekend.shape)
weekend.tail(50)

(1288, 7)

            Date Weekday      Time     Open     High      Low    Close
15887 2020-03-02  Monday  10:00:00  2964.76  2969.49  2961.30  2961.46
17773 2020-03-06  Friday  15:00:00  2909.51  2912.97  2908.29  2908.29
17870 2020-03-09  Monday  10:00:00  2796.79  2799.09  2794.36  2797.30
19759 2020-03-13  Friday  15:00:00  2565.64  2576.12  2563.08  2576.12
19859 2020-03-16  Monday  10:00:00  2452.03  2453.15  2446.88  2449.85
21754 2020-03-20  Friday  15:00:00  2331.22  2332.57  2327.36  2328.35
21851 2020-03-23  Monday  10:00:00  2282.07  2284.48  2276.87  2279.02
23735 2020-03-27  Friday  15:00:00  2584.77  2584.99  2579.26  2581.93
23831 2020-03-30  Monday  10:00:00  2562.20  2566.20  2562.20  2563.28
25715 2020-04-03  Friday  15:00:00  2483.45  2485.44  2483.45  2484.21
25811 2020-04-06  Monday  10:00:00  2603.81  2605.25  2603.15  2604.48
27395 2020-04-13  Monday  10:00:00  2748.75  2749.32  2747.09  2749.30
29279 2020-04-17  Friday  15:00:00  2842.49  2842.68  2841.61  2841.63
29375 2020-04-20  Monday  10:00:00  2839.72  2840.61  2838.59  2838.61
31259 2020-04-24  Friday  15:00:00  2828.48  2828.48  2826.10  2826.35
31355 2020-04-27  Monday  10:00:00  2861.33  2862.62  2860.82  2862.06
33239 2020-05-01  Friday  15:00:00  2831.37  2833.07  2829.73  2833.04
33335 2020-05-04  Monday  10:00:00  2812.02  2814.49  2811.39  2811.39
35219 2020-05-08  Friday  15:00:00  2920.64  2922.01  2920.46  2922.01
35315 2020-05-11  Monday  10:00:00  2909.11  2911.29  2908.61  2910.46
37200 2020-05-15  Friday  15:00:00  2848.34  2850.46  2846.71  2850.41
37296 2020-05-18  Monday  10:00:00  2935.04  2936.12  2934.11  2935.34
39180 2020-05-22  Friday  15:00:00  2951.07  2951.12  2949.30  2951.12
40764 2020-05-29  Friday  15:00:00  3035.53  3042.01  3035.53  3041.29
40860 2020-06-01  Monday  10:00:00  3042.15  3042.97  3040.33  3042.37
42744 2020-06-05  Friday  15:00:00  3196.40  3197.09  3195.30  3195.96
42840 2020-06-08  Monday  10:00:00  3207.35  3208.12  3204.95  3205.28
44724 2020-06-12  Friday  15:00:00  3018.11  3024.34  3018.11  3021.97
44820 2020-06-15  Monday  10:00:00  2997.27  2998.34  2993.37  2993.37
46704 2020-06-19  Friday  15:00:00  3104.85  3104.85  3102.12  3102.36
46804 2020-06-22  Monday  10:00:00  3096.24  3097.10  3095.67  3095.83
48688 2020-06-26  Friday  15:00:00  3015.20  3020.08  3015.13  3019.07
48785 2020-06-29  Monday  10:00:00  3015.62  3019.47  3015.62  3019.44
50370 2020-07-06  Monday  10:00:00  3177.01  3182.59  3177.01  3180.14
52254 2020-07-10  Friday  15:00:00  3177.66  3177.66  3174.93  3174.93
52350 2020-07-13  Monday  10:00:00  3204.77  3206.49  3204.77  3205.74
54234 2020-07-17  Friday  15:00:00  3228.28  3228.67  3228.03  3228.56
54330 2020-07-20  Monday  10:00:00  3219.86  3220.62  3218.15  3219.44
56214 2020-07-24  Friday  15:00:00  3215.52  3215.55  3214.04  3214.39
56310 2020-07-27  Monday  10:00:00  3233.57  3233.86  3232.95  3233.76
58194 2020-07-31  Friday  15:00:00  3245.45  3246.34  3245.42  3245.69
58350 2020-08-03  Monday  10:00:00  3290.48  3295.82  3290.48  3294.90
64002 2020-08-07  Friday  15:00:00  3339.03  3339.22  3338.12  3338.60
64290 2020-08-10  Monday  10:00:00  3357.21  3357.36  3356.44  3356.59
69942 2020-08-14  Friday  15:00:00  3370.50  3370.75  3370.28  3370.59
70230 2020-08-17  Monday  10:00:00  3382.98  3383.76  3382.88  3383.13
75882 2020-08-21  Friday  15:00:00  3396.69  3397.50  3396.51  3397.50
76170 2020-08-24  Monday  10:00:00  3421.49  3421.98  3419.54  3419.56
81822 2020-08-28  Friday  15:00:00  3499.55  3500.05  3499.20  3500.05
82113 2020-08-31  Monday  10:00:00  3502.22  3503.39  3502.08  3503.29

In [35]:
# problem - there are more Fridays than Mondays because of market holidays
# when there is a holiday I could put a Tuesday in place of a monday
# just thinking through this there is also Good Friday and holidays that can fall on 
# Friday like Christmas, New Years and the 4th of July
# possible solutions
# I could look only at Friday and Monday pairings with a 3 day difference
# manually go in and fix
weekend['Weekday'].value_counts()

Friday    659
Monday    629
Name: Weekday, dtype: int64

In [47]:
weekend['Date'].iloc[1] - weekend['Date'].iloc[0]

Timedelta('3 days 00:00:00')

In [80]:
# if two mondays or two fridays in a row drop the second row
# we want to get rid of the first friday row
# but the second monday row

# for mondays
weekend_ex_holidays_mon = weekend.groupby((weekend["Weekday"] != weekend["Weekday"].shift()).cumsum().values).first()
weekend_ex_holidays_mon = weekend_ex_holidays_mon[weekend_ex_holidays_mon['Weekday'] == 'Monday']
weekend_ex_holidays_mon

           Date Weekday      Time     Open     High      Low    Close
2    2007-05-07  Monday  10:00:00  1509.70  1509.70  1509.36  1509.54
4    2007-05-14  Monday  10:00:00  1509.37  1509.37  1508.57  1508.57
6    2007-05-21  Monday  10:00:00  1523.70  1523.97  1523.70  1523.97
8    2007-06-04  Monday  10:00:00  1534.87  1534.99  1534.62  1534.99
10   2007-06-11  Monday  10:00:00  1508.79  1508.84  1508.16  1508.16
...         ...     ...       ...      ...      ...      ...      ...
1178 2020-08-03  Monday  10:00:00  3290.48  3295.82  3290.48  3294.90
1180 2020-08-10  Monday  10:00:00  3357.21  3357.36  3356.44  3356.59
1182 2020-08-17  Monday  10:00:00  3382.98  3383.76  3382.88  3383.13
1184 2020-08-24  Monday  10:00:00  3421.49  3421.98  3419.54  3419.56
1186 2020-08-31  Monday  10:00:00  3502.22  3503.39  3502.08  3503.29

[593 rows x 7 columns]

In [81]:
# getting correct Fridays
weekend_ex_holidays_fri = weekend.groupby((weekend["Weekday"] != weekend["Weekday"].shift()).cumsum().values).last()
weekend_ex_holidays_fri = weekend_ex_holidays_fri[weekend_ex_holidays_fri['Weekday'] == 'Friday']
weekend_ex_holidays_fri

           Date Weekday      Time     Open     High      Low    Close
1    2007-05-04  Friday  15:00:00  1504.31  1504.32  1504.21  1504.21
3    2007-05-11  Friday  15:00:00  1501.69  1501.69  1501.62  1501.62
5    2007-05-18  Friday  15:00:00  1519.88  1519.94  1519.88  1519.94
7    2007-05-25  Friday  15:00:00  1514.88  1514.88  1514.83  1514.84
9    2007-06-08  Friday  15:00:00  1501.78  1501.86  1501.78  1501.80
...         ...     ...       ...      ...      ...      ...      ...
1177 2020-07-31  Friday  15:00:00  3245.45  3246.34  3245.42  3245.69
1179 2020-08-07  Friday  15:00:00  3339.03  3339.22  3338.12  3338.60
1181 2020-08-14  Friday  15:00:00  3370.50  3370.75  3370.28  3370.59
1183 2020-08-21  Friday  15:00:00  3396.69  3397.50  3396.51  3397.50
1185 2020-08-28  Friday  15:00:00  3499.55  3500.05  3499.20  3500.05

[593 rows x 7 columns]

In [94]:
# TODO - concatenate monday and friday dataframes
frames = [weekend_ex_holidays_mon, weekend_ex_holidays_fri]
weekend_ex_holidays = pd.concat(frames)
print(weekend_ex_holidays.shape)
weekend_ex_holidays = weekend_ex_holidays.sort_values(by='Date')
weekend_ex_holidays.tail(50)

(1186, 7)

           Date Weekday      Time     Open     High      Low    Close
1137 2020-02-21  Friday  15:00:00  3335.78  3336.49  3335.57  3336.23
1138 2020-02-24  Monday  10:00:00  3254.60  3257.68  3253.52  3256.76
1139 2020-02-28  Friday  15:00:00  2916.28  2919.81  2914.16  2914.30
1140 2020-03-02  Monday  10:00:00  2964.76  2969.49  2961.30  2961.46
1141 2020-03-06  Friday  15:00:00  2909.51  2912.97  2908.29  2908.29
1142 2020-03-09  Monday  10:00:00  2796.79  2799.09  2794.36  2797.30
1143 2020-03-13  Friday  15:00:00  2565.64  2576.12  2563.08  2576.12
1144 2020-03-16  Monday  10:00:00  2452.03  2453.15  2446.88  2449.85
1145 2020-03-20  Friday  15:00:00  2331.22  2332.57  2327.36  2328.35
1146 2020-03-23  Monday  10:00:00  2282.07  2284.48  2276.87  2279.02
1147 2020-03-27  Friday  15:00:00  2584.77  2584.99  2579.26  2581.93
1148 2020-03-30  Monday  10:00:00  2562.20  2566.20  2562.20  2563.28
1149 2020-04-03  Friday  15:00:00  2483.45  2485.44  2483.45  2484.21
1150 2020-04-06  Monday  10:00:00  2603.81  2605.25  2603.15  2604.48
1151 2020-04-17  Friday  15:00:00  2842.49  2842.68  2841.61  2841.63
1152 2020-04-20  Monday  10:00:00  2839.72  2840.61  2838.59  2838.61
1153 2020-04-24  Friday  15:00:00  2828.48  2828.48  2826.10  2826.35
1154 2020-04-27  Monday  10:00:00  2861.33  2862.62  2860.82  2862.06
1155 2020-05-01  Friday  15:00:00  2831.37  2833.07  2829.73  2833.04
1156 2020-05-04  Monday  10:00:00  2812.02  2814.49  2811.39  2811.39
1157 2020-05-08  Friday  15:00:00  2920.64  2922.01  2920.46  2922.01
1158 2020-05-11  Monday  10:00:00  2909.11  2911.29  2908.61  2910.46
1159 2020-05-15  Friday  15:00:00  2848.34  2850.46  2846.71  2850.41
1160 2020-05-18  Monday  10:00:00  2935.04  2936.12  2934.11  2935.34
1161 2020-05-29  Friday  15:00:00  3035.53  3042.01  3035.53  3041.29
1162 2020-06-01  Monday  10:00:00  3042.15  3042.97  3040.33  3042.37
1163 2020-06-05  Friday  15:00:00  3196.40  3197.09  3195.30  3195.96
1164 2020-06-08  Monday  10:00:00  3207.35  3208.12  3204.95  3205.28
1165 2020-06-12  Friday  15:00:00  3018.11  3024.34  3018.11  3021.97
1166 2020-06-15  Monday  10:00:00  2997.27  2998.34  2993.37  2993.37
1167 2020-06-19  Friday  15:00:00  3104.85  3104.85  3102.12  3102.36
1168 2020-06-22  Monday  10:00:00  3096.24  3097.10  3095.67  3095.83
1169 2020-06-26  Friday  15:00:00  3015.20  3020.08  3015.13  3019.07
1170 2020-06-29  Monday  10:00:00  3015.62  3019.47  3015.62  3019.44
1171 2020-07-10  Friday  15:00:00  3177.66  3177.66  3174.93  3174.93
1172 2020-07-13  Monday  10:00:00  3204.77  3206.49  3204.77  3205.74
1173 2020-07-17  Friday  15:00:00  3228.28  3228.67  3228.03  3228.56
1174 2020-07-20  Monday  10:00:00  3219.86  3220.62  3218.15  3219.44
1175 2020-07-24  Friday  15:00:00  3215.52  3215.55  3214.04  3214.39
1176 2020-07-27  Monday  10:00:00  3233.57  3233.86  3232.95  3233.76
1177 2020-07-31  Friday  15:00:00  3245.45  3246.34  3245.42  3245.69
1178 2020-08-03  Monday  10:00:00  3290.48  3295.82  3290.48  3294.90
1179 2020-08-07  Friday  15:00:00  3339.03  3339.22  3338.12  3338.60
1180 2020-08-10  Monday  10:00:00  3357.21  3357.36  3356.44  3356.59
1181 2020-08-14  Friday  15:00:00  3370.50  3370.75  3370.28  3370.59
1182 2020-08-17  Monday  10:00:00  3382.98  3383.76  3382.88  3383.13
1183 2020-08-21  Friday  15:00:00  3396.69  3397.50  3396.51  3397.50
1184 2020-08-24  Monday  10:00:00  3421.49  3421.98  3419.54  3419.56
1185 2020-08-28  Friday  15:00:00  3499.55  3500.05  3499.20  3500.05
1186 2020-08-31  Monday  10:00:00  3502.22  3503.39  3502.08  3503.29

In [92]:
weekend_ex_holidays['Weekday'].value_counts()

Friday    593
Monday    593
Name: Weekday, dtype: int64